<section class="section ">
    <div class="container ">
        <div class="level ">
            <div class="columns">
                <div class="column level-item">
                    <div class="content ">
                        <h1>A BookHub mint vállalat</h1>
        
                        <p>A BookHub egy magyarországi webes vállalat, amely elkötelezett a könyvek újrahasznosítása és a környezetvédelem ügyében.</p>
                        <p>A vállalat online platformot kínál a könyvek felajánlásához és elfogadásához, ezáltal segítve a használt könyvek újrahasznosítását és új életre keltését.</p>
                    </div>
                </div>
                <div class="column level-item has-text-centered">
                    <figure class="image">
                        <img src="assets/fig1.png" style="width: 256px; height: 256px;">
                      </figure>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="columns">
                <div class="column level-item has-text-centered">
                    <figure class="image ">
                        <img src="assets/fig2.png" style="width: 256px; height: 256px;">
                      </figure>
                </div>
                <div class="column level-item"><div class="content">
                    <h1>A BookHub működése egyszerű</h1>
                    <p>A felhasználók felajánlhatják a feleslegessé vált könyveiket a vállalatnak, amely ezeket feldolgozza, majd eladásra kínálja az online platformján.</p>
                        <p>A felhasználók kedvezményes áron vásárolhatják meg a BookHubon kínált könyveket, ezáltal támogatva a környezetvédelem ügyét.</p>
                </div></div>
            </div>
        </div>
        <div class="level">
            <div class="columns">
                <div class="column level-item">
                    <div class="content">
                        <h1>A BookHub előnyei</h1>
        
                        A BookHub számos előnnyel jár a könyvek újrahasznosítását és a környezetvédelmet tekintve.
        
                        <ol>
                            <li><h5>Segíti a használt könyvek újrahasznosítását:</h5> </li>A BookHub platformja lehetővé teszi a használt könyvek újrahasznosítását, amelyeket egyébként hulladékként lehetne elhelyezni.
                            <li><h5>Csökkenti a hulladék mennyiségét:</h5></li> A BookHub által újrahasznosított könyvek csökkentik a hulladék mennyiségét, ami jótékony hatással van a környezetre.
                            <li><h5>Segíti a könyvek megőrzését:</h5></li> A BookHub platformja segít megőrizni a könyveket, amelyeket egyébként kidobnának.
                        </ol>
                    </div>
                </div>
                <div class="column level-item has-text-centered">
                    <figure class="image">
                        <img src="assets/fig3.png" style="width: 256px; height: 256px;">
                      </figure>
                </div>
            </div>
        </div>
        <div class="level">
            <div class="columns">
                <div class="column level-item has-text-centered">
                    <figure class="image">
                        <img src="assets/fig4.png" style="width: 256px; height: 256px;">
                      </figure>
                </div>
                <div class="column level-item">
                    <div class="content">
                        <h1>A BookHub jövője</h1>
                            <ul>
                                <li>A BookHub egy innovatív vállalat, amely nagyszerű lehetőségeket kínál a könyvek újrahasznosítására és a környezetvédelemre.</li>
                                <li>A vállalat jövője fényesnek tűnik, mivel egyre több ember törődik a környezetvédelemmel és a fenntarthatósággal.</li>
                                <li>A BookHub jövőbeli tervei között szerepel a platform további fejlesztése, új funkciók és szolgáltatások bevezetése, valamint a nemzetközi terjeszkedés.</li>
                                <li>A vállalat célja, hogy világszerte segítsen a könyvek újrahasznosításában és a környezetvédelemben.</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

