<app-navbar></app-navbar>
<div class="container">
  <div class="columns mt-2">
    <div class="column">
      <div class="card has-background-primary-light">
        <div class="card-content">
          <p class="title has-text-primary-dark has-text-primary-dark">
            "Olvass, cserélj, játssz."
          </p>
          <p class="subtitle has-text-primary-dark">
            Balázs Réka
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Contact with <a href="mailto:reka.balazs77@gmail.com?subject=BookHub kapcsolatfelvétel">Email</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Share on <a href="#">Facebook</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-primary-light">
        <div class="card-content">
          <p class="title has-text-primary-dark">
            "A könyvek újraélesztése."
          </p>
          <p class="subtitle has-text-primary-dark">
            Gerecs Diána
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Contact with <a href="mailto:gerecsdiana@gmail.com?subject=BookHub kapcsolatfelvétel">Email</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Share on <a href="#">Facebook</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column">
      <div class="card has-background-primary-light">
        <div class="card-content">
          <p class="title has-text-primary-dark">
            "A könyvek közös nyelve."
          </p>
          <p class="subtitle has-text-primary-dark">
            Csajbók-Reményi László
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Contact with <a href="mailto:myyouz74@gmail.com?subject=BookHub kapcsolatfelvétel">Email</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span class="has-text-warning-dark">
              Share on <a href="#">Facebook</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
</div>
</div>


<app-bulma-footer></app-bulma-footer>