<section class="section">
    <div class="field">
        <div class="field">
            <label for="name" class="label">Felhasználónév</label>
            <input type="text" id="name" class="input mt-2 is-info  is-rounded has-text-info-dark" [(ngModel)]="user.username">
        </div>
        <div class="field">
            <label for="pass" class="label">Jelszó</label>
            <input type="text" id="pass" class="input mt-2 is-info  is-rounded has-text-info-dark" [(ngModel)]="user.password">
        </div>
        <div class="field">
            <label for="email" class="label">Emailcím</label>
            <input type="email" id="email" class="input mt-2 is-info  is-rounded has-text-info-dark" [(ngModel)]="user.email">
        </div>
        <div class="field">
            <label for="role" class="label">Szerepkör</label>
            <input type="text" id="role" class="input mt-2 is-info  is-rounded has-text-info-dark" [(ngModel)]="user.role">
        </div>
        <button type="button" (click)="saveUser()" class="button is-primary has-text-dark">Felhasználó létrehozása</button>
    </div>
    <table class="table" *ngIf="!emptyData">
        <thead>
            <tr>
                <th>Felhasználónév</th>
                <th>Jelszó</th>
                <th>Emailcím</th>
                <th>Szerepkör</th>
                <th>Módosítás</th>
                <th>Törlés</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userDatas">
                <td><input class="input" type="text" [(ngModel)]="data.username" name="username"></td>
                <td><input class="input" type="text" [(ngModel)]="data.password" name="password"></td>
                <td><input class="input" type="email" [(ngModel)]="data.email" name="email"></td>
                <td><input class="input" type="text" [(ngModel)]="data.role" name="role"></td>
                <td><button (click)="updateUser(data)" class="button is-primary has-text-dark">Módosítás</button></td>
                <td><button (click)="deleteUser(data)" [id]="data.id" class="button is-danger has-text-warning">Törlés</button></td>
              </tr>
        </tbody>
    </table>
    <ng-container *ngIf="emptyData">
        <h1 class="has-text-danger">Nincsenek betöltendő adatok :(</h1>
    </ng-container>
</section>
