.card:hover{
    transform: scale(1.01);
}



.card{
    position: relative;
    top: 30px;
}

.container{
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) and (min){
    .title{
        font-size: 24px;
    }
    .has-fixed-height{
      height: 600px;
      overflow: hidden;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .title{
      font-size:24px;
    }
    
  }

  @media screen and (min-width: 1216px) {
    .title {
      font-size: 24px;
    }
    .has-fixed-height {
      height: 200px; 
      overflow:auto; 
  }
  }
  
  @media screen and (min-width: 1408px) {
    .title {
      font-size: 26px;
    }
    .has-fixed-height {
      height: 200px; 
      overflow:auto; 
  }
  }