
<app-navbar></app-navbar>
<div class="box">
   <div class="content is-centered" >
        
          <h1 class = "h1" >Nem én vagyok zsákbamackó.<br> A lenti gombbal visszatérhetsz a másik oldalra.</h1>
          
        
        <div >
          <figure class="is-4by3 is-centered">
              <img src="assets/irgumburgum1.jpg" alt="Placeholder image" class="image">
          </figure>
      </div>
    
        <div class="buttons is-centered">
          <a class="button is-primary is-rounded" routerLink="/surprise" routerLinkActive="active">Bocs! Már itt se vagyok!</a>
        </div>
</div>
<app-bulma-footer></app-bulma-footer>